@model RjWeb.Areas.Security.Models.UserModelView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Details</h2>
        <div>
             <a href="@Url.Action("Index")" class="text-info">
                 <span class="glyphicon glyphicon-arrow-left"></span> Back to List
             </a>
        </div>
    <div>
        

        <hr />
        <dl class="dl-horizontal">
            <div class="form-group">
                <h4>Profile Info</h4>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dd>
                    @Html.DisplayFor(model => model.Age)
                </dd>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>

              <div class="col-md-10">
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
